.node {
    margin-top: 0px;
}

.parent {
    display: flex;
    flex-direction: column;
    font-weight: bold;    
}

.children {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-weight: normal;    
}

legend {
    margin-bottom: 10px;
}