.node {
    margin-top: 0px;
}

.parent {
    font-weight: bold;    
}

.children {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

legend {
    margin-bottom: 10px;
}

.controls {
    position: absolute;
    right: 4px;
    bottom: 5px;
}