.treeItem {
    display: flex;
    flex-direction: row;
    position:relative;
    padding: 10px 5px;
    vertical-align: middle;
}

.treeItemDescription {
    margin-left: 5px;
}

.rowItem > div {
    margin-left: 2px;
}
.treeItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
}