.treeItem {
    display: flex;
    position:relative;
    padding: 10px 0px 10px 10px;    
}

.treeItemDescription {
    margin-left: 7px;
    margin-bottom: 3px;
}

.rowItem > div {
    margin-left: 2px;
}
.treeItem:hover {
    background-color: rgba(0, 0, 0, 0.03);
    outline-style: solid;
    outline-width: 1px;  
    outline-color: #EDEDED;
}

a {
    color: #333;    
}
a:hover {
    color: #333;
    cursor:pointer;
}