.info-box-content {
    padding: 5px 10px;
    margin-left: 75px;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 75px;
    width: 75px;
    text-align: center;
    font-size: 35px;
    line-height: 75px;
    background: rgba(0, 0, 0, 0.2);
}

.info-box {
    display: block;
    min-height: 75px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.box {
    position: relative;
    border-radius: 2px;
    background: #fff;
    border-top: 3px solid #dcdcdc !important;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    line-height: 1;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 20px;
}