.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 2px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}