aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo img {
    padding: 0px 15px;
    width: 100%;
}

aside a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

@media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
}