.chart {
    padding: 5px;
}

.description-block > .description-header {
    font-size: 14px;
}

.carousel-inner {
    overflow: visible;
}

.carousel-control {
    width: 18%;
    padding-top: 31px;
    padding-right: 2px;
    opacity: 1;
}

.fixedBox {
    position: absolute;
    top: 41px;
    left: 0px;
    max-height: 335px;
    overflow-y: scroll;
}

.box-body-timeline {
    height: 335px;
}