.node {
    margin-top: 15px;
}

.parent {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.children {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-left: 10px;
    font-weight: normal;    
}