.rowItem {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
}

.rowItem > div {
    margin-left: 2px;
}
.rowItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.slidecontainer {
    padding-top: 2px;
    padding-left: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    background: #d3d3d39c !important;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;        
    height: 15px;    
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;    
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}