@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

.main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
}

button {
    margin-right: 5px;
}

.table-actions {
    width: 150px;
}

.form-checklist-control {
    display: block;
    width: 34px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
}

input[type=checkbox], input[type=radio] {
    margin: 0px;
}

.buttons_checklist_form {
    padding-top: 25px;
    background-color: #ffffff;
}