.skin-blue .main-header .navbar {
    background-color: #2196f3;
}

.skin-blue .main-header .logo {
    background-color: #1d84d6;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #1d84d6;
}

.skin-blue .main-header .logo:hover {
    background-color: #1b7bc7;
}

.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    margin-left: 0px;
    font-size: 20px;
}

.main-header .logo {
    text-align: left;
}